@font-face {
    font-family: 'DOSPilgiMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSPilgiMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MiraeroNormal';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/MiraeroNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    overflow: hidden;
    font-family: 'DOSPilgiMedium';
    color: white;
    font-size: 16px;
}
.video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}
  .content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title.page-title {
    margin-top: 0;
    margin-bottom: 8vh;
    font-size: 3.5rem;
  }

  .content {
    width: 100%;
    text-align: justify;
    font-size: 1.35rem;
    font-family: 'MiraeroNormal';
    overflow-y: auto;
    max-height: calc(100% - 10vh);
  }
.title {
    text-align: center;
    font-size: 55px;
    margin-bottom: 40px;
    font-family: 'DOSPilgiMedium';
}
.language-options {
    font-size: 1.5em;
    font-family: 'DOSPilgiMedium';
}
.language-option {
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: opacity 0.3s;
}
.lang-menu {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    font-size: 30px;
}
.lang-menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: 'DOSPilgiMedium';
}
.lang-menu a:hover {
    opacity: 0.7;
}
.lang-menu a:active {
    color: white;
}
.language-option:hover {
    opacity: 0.7;
}
@keyframes fadeOut {
    from {
        opacity: 1;
        background-color: black;
    }
    to {
        opacity: 0;
        background-color: black;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        background-color: black;
    }
    to {
        opacity: 1;
        background-color: black;
    }
}
body {
    animation: fadeIn 1.5s;
    background-color: black;
}
body.fade-out {
    animation: fadeOut 1.5s;
    background-color: black;
}
.page-title {
    margin-top: 120px;
    font-family: 'DOSPilgiMedium';
}
