/* 기본 스타일 리셋 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden;
    font-family: 'DOSPilgiMedium', sans-serif;
    color: white;
    font-size: 16px;
}

.video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
}

.language-options {
    font-size: 1.5em;
}

.language-option {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: opacity 0.3s;
}

.language-option:hover {
    opacity: 0.7;
}
